@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
  root: ":root";
  logs: true;
}

#root {
  height: 100vh;
  overflow: auto;
}


@font-face {
  font-family: "Fascinate Regular";
  src: url("./assets/fonts/Fascinate-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fascinate Inline Regular";
  src: url("./assets/fonts/FascinateInline-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Federo Regular";
  src: url("./assets/fonts/Federo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Xeroda";
  src: url("./assets/fonts/XerodaRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-header: "Fascinate Regular", monospace;
  --font-body: "Federo Regular", monospace;
}

body {
  font-family: "Federo Regular", ui-monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fascinate Regular", ui-monospace;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27.3% 0.028 105.036);
  --color-base-200: oklch(35% 0.028 105.036);
  --color-base-300: oklch(45% 0.028 105.036);
  --color-base-content: oklch(83.3% 0.036 119.440);
  --color-primary: #364022;
  --color-primary-content: oklch(83.3% 0.036 119.440);
  --color-secondary: #4A2F1A;
  --color-secondary-content: oklch(83.3% 0.036 119.440);
  --color-accent: #BC6C25;
  --color-accent-content: oklch(83.3% 0.036 119.440);
  --color-neutral: #7B5A30;
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

